#userPop .password-tip {
  position: absolute;
  top: -12px;

  color: red;
}

/*样式重置*/

body,
html {
  height: 100%;
}

body,
div,
ul,
li,
h2,
h3,
dl,
dt,
dd,
p {
  font-family: 'MicrosoftYaHeiLight';

  margin: 0;
  padding: 0;

  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.clearfix:before,
.clearfix:after {
  display: block;
  visibility: hidden;

  height: 0;

  content: '.';
}

.clearfix:after {
  clear: both;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 6px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius: 0;
  background: #fff;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #a6a6a6;
}

::-webkit-scrollbar-thumb:window-inactive {
  /* background: rgba(255,0,0,0.4); */
}

/* end scrollbar */

/* 登录模块 */
.loginWrap {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 250px;

  background: url(../img/login_bg.png);
}

.productLabrary {
  width: 865px;
  height: 396px;

  background: url(../img/productLabrary.png) no-repeat;
  background-origin: content-box;
}

.loginBox {
  width: 424px;
  height: 396px;

  background: rgba(255, 255, 255, 1);
}

.loginBox h3 {
  padding: 43px 50px;

  text-align: center;
}

.loginBox form {
  padding: 0 30px;
}

.loginBox form span {
  font-size: 14px;
}

.loginBox form input {
  width: 362px;
  height: 42px;
  margin-bottom: 39px;

  text-indent: 10px;

  border: 1px solid #dbdbdb;
}

.loginBox form input[type='checkbox'] {
  width: 14px;
  height: 14px;
  margin-right: 20px;
  margin-bottom: 33px;
}

#loginBtn {
  width: 362px;
  height: 50px;

  color: white;
  border: 0;
  background: rgba(22, 212, 219, 1);
}

.loginErrorTip {
  position: absolute;
  bottom: 110px;

  color: red;
}

#loginForm {
  position: relative;
}

/*main模块*/

.main {
  overflow: hidden;

  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.main-header {
  line-height: 64px;

  position: relative;

  display: flex;

  box-sizing: border-box;
  /* padding: 0 31px 0 0; */
  width: 100%;
  height: 64px;

  color: rgba(255, 255, 255, 1);
}

.main-header .user {
  position: absolute;
  z-index: 8;
  right: 60px;
}

.logo {
  font-size: 16px;
  font-weight: lighter;

  box-sizing: border-box;
  width: 280px;
  padding-left: 26px;

  text-indent: 59px;

  background: url(../img/logo1.png) no-repeat 26px 12px;
  background-color: #081a30;
}

.user {
  /* background: white; */
  /* width:-webkit-calc(100% - 311px);
    width: calc(100% - 311px); */
  /* padding:0 31px; */
}

.user > div {
  float: right;
}

/* .user span{
    color: white;
} */
.user img {
  vertical-align: middle;
}

.logOut {
  position: relative;

  margin-top: -5px;

  text-align: center;

  border-radius: 10px;
  background: #958686;
}

.logOut a {
  color: white;
}

.user .logOut::before {
  position: absolute;
  top: -16px;
  left: 13px;

  width: 0;
  height: 0;

  content: '';

  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #958686 transparent;
}

.user .logOut:hover {
  color: #4994ff;
}

.user .logOut li {
  line-height: 24px;

  height: 24px;
  padding: 5px;

  text-align: center;
}

/*主模块*/

.container {
  height:         calc(100% - 64px);
  height: -webkit-calc(100% - 64px);

  background-color: #f5f5f5;
}

/* nav*/

.container-aside {
  float: left;

  box-sizing: border-box;
  width: 280px;
  height: 100%;
  padding: 49px 0;

  color: white;
  background: rgba(17, 30, 47, 1);
}

.container-aside-nav {
  height: 100%;
}

.container-aside-nav > li {
  padding: 18px 0 18px 30px;
}

.container-aside-nav .container-aside-nav-item.active {
  padding: 18px 0 18px 30px;

  background: #16d4db;
}

.container-aside-nav-item span {
  font-size: 16px;

  margin-left: 10px;
}

.container-aside-nav-item img {
  vertical-align: middle;
}

.container-aside-nav .container-aside-nav-item:not(:first-child) img {
  width: 20px;
  height: 20px;
}

.container-content {
  position: relative;
  /* overflow: auto; */
  /* padding: 0 50px; */

  height: 100%;
  /*box-sizing: border-box; */
  margin-left: 280px;

  border-top: 1px solid #e2e2e2;
}

.container-content-wrap {
  position: relative;

  flex: 1;
  /* overflow: auto; */

  box-sizing: border-box;
  /* width: calc( 100% - 334px ); */
  height: 100%;
  padding: 30px 30px 0 60px;
}

.content-card-wrap > ul {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}

.content-card-wrap {
  overflow: auto;

  height: -webkit-calc(100%-130px);
  height:         calc(100% - 130px);
  margin-top: 32px;
}

.container-content-top {
  position: relative;

  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  height: 76px;
  padding: 17px 50px;

  background: rgba(255, 255, 255, 1);
  /* margin-left: 15px; */
}

.container-content-top form {
  position: absolute;
  left: 274px;
}

.container-content-top .search {
  display: flex;
  justify-content: space-between;

  width: 228px;
  height: 40px;

  border: 1px solid rgba(3, 7, 17, .08);
}

.container-content-top .search input {
  line-height: normal;

  flex: 1;

  text-indent: 10px;

  border: 0;
  border-bottom: 1px solid rgba(3, 7, 17, .08);
}

.container-content-top .searchBtn {
  width: 42px;
  height: 42px;

  background: url('../img/search.png') no-repeat center center;
}

.container-content-top .release-product {
  line-height: 42px;

  width: 126px;
  height: 42px;
  /* margin-left: 800px; */

  cursor: pointer;
  text-align: center;

  color: white;
  background: rgba(35, 107, 228, 1);
}

.layui-unselect.layui-form-select.all-product {
  width: 172px;
  height: 42px;
  margin-left: 15px;
}

.all-product .layui-unselect.layui-form-select,
.all-product .layui-unselect.layui-form-select input {
  width: 100%;
  height: 42px;
}

.all-product .layui-input-block {
  margin-left: 0;
}

.all-product select {
  width: 100%;
  height: 100%;

  text-indent: 10px;

  border: 1px solid #dbdbdb;
  background: url('../img/down.png') no-repeat 155px center;
}

.all-product select option {
  width: 100%;
  height: 100%;
}

.container-content-list {
  overflow: auto;
}

.container-content-item {
  float: left;
  /* margin: 15px 33px 15px 0; */
  overflow: hidden;

  box-sizing: border-box;
  width: 330px;
  margin-right: 30px;
  margin-bottom: 42px;

  cursor: pointer;

  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px #ddd;
}

.container-content-item-imgcontainer {
  position: relative;
}

.container-content-item img {
  width: 330px;
  height: 230px;
}

.new-tip {
  position: absolute;
  top: 0;
  right: 0;

  display: inline-block;

  width: 73px;
  height: 73px;

  background: url(../img/new.png) no-repeat 0 0;
}

.container-content-item h3 {
  font-family: 'MicrosoftYaHei';
  font-size: 18px;
  font-weight: bold;

  padding-top: 16px;
  padding-left: 13px;

  color: #202020;
}

.container-content-item-gray {
  font-size: 14px;
  line-height: 20px;

  position: relative;

  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  /* font-weight: bold; */

  height: 57px;
  margin-bottom: 12px;
  padding: 12px 15px 0 37px;

  text-overflow: ellipsis;

  color: #999;

  -webkit-line-clamp: 3;
}

.container-content-item-gray i {
  position: absolute;
  top: 13px;
  left: 17px;

  display: inline-block;

  width: 11px;
  height: 12px;

  background: url(../img/leftGrayTriangleIcon.png) no-repeat 0 0;
}

.container-content-item-p {
  font-size: 16px;
  font-weight: bold;

  padding: 16px 0 16px 16px;

  color: #666;
}

.container-content-item-view {
  line-height: 46px;

  height: 46px;
  padding-left: 13px;

  border-top: 1px solid #ddd;
}

.container-content-item-view span {
  font-size: 14px;

  padding: 1px 21px 2px 27px;

  color: #999;
}

.container-content-item-view .view {
  background: url(../img/icon1.png) no-repeat 0 0;
  background-size: 18px 18px;
}

.container-content-item-view .msgIcon {
  background: url(../img/icon2.png) no-repeat 0 1px;
  background-size: 18px 18px;
}

.container-content-item-view .edit {
  margin-left: 100px;
  padding: 13px 8px;
}

.container-content-item-view .delete {
  padding: 13px 8px;
}

.footer {
  font-size: 14px;
  line-height: 54px;

  height: 54px;

  text-align: center;

  color: #c2c2c2;
  background-color: #f5f5f5;
}

/*临时加需求*/

.project-notice:nth-child(3) {
  display: none;
}

/*  release-product */

.title {
  font-size: 16px;

  padding: 16px 0 16px 38px;

  border-bottom: 1px solid rgba(219, 219, 219, 1);
}

.release-product-content {
  display: none;

  box-sizing: border-box;
  height: 100%;
}

.release-product-content .release-product-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 76px;

  background: rgba(255, 255, 255, 1);
}

.release-product-title .back {
  margin-right: 38px;
  padding: 5px 10px;

  cursor: pointer;

  border: 1px solid #4994ff;
}

.release-product-title h2 {
  font-size: 18px;

  margin-left: 38px;
}

.release-product-content h2 {
  font-weight: normal;

  background: rgba(255, 255, 255, 1);
}

.release-product-content > h2 {
  font-size: 18px;

  padding: 27px 0 30px 40px;
}

.release-product-item {
  margin-top: 20px;
}

.release-product h2 {
  font-size: 18px;

  box-sizing: border-box;
  height: 76px;
  padding: 27px 0 27px 40px;

  color: rgba(34, 34, 34, 1);
  background: rgba(255, 255, 255, 1);
}

.release-product-item > div {
  padding: 34px 0 38px 39px;

  background: rgba(255, 255, 255, 1);
}

.uploadVideo {
  height: 330px;
}

.productDetail {
  height: 572px;
}

.uploadImage {
  height: 360px;
}

.uploadImage-content-box,
.uploadVideo-content-box,
.upload-userImg-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  border: 1px dotted #ccc;
  background: rgba(250, 250, 250, 1);
}

.uploadVideo-content-box {
  width: 420px;
  height: 180px;
}

.uploadVideo-content > p {
  font-size: 12px;

  margin-top: 14px;
}

.uploadVideo-content-box strong,
.upload-userImg-box strong {
  cursor: pointer;

  color: #4994ff;
}

.uploadImage-content-box {
  width: 330px;
  height: 230px;
}

.upload-userImg-box {
  width: 200px;
  height: 200px;
}

.uploadImage-content-box > span,
.uploadVideo-content-box > span,
.upload-userImg-box > span.upLoadImgIcon {
  display: inline-block;

  width: 32px;
  height: 32px;
  margin-bottom: 20px;

  background: url(../img/upload.png) no-repeat;
}

.releaseBtn {
  width: 240px;
  height: 48px;
  margin: 30px 0 70px 43px;

  background: rgba(35, 107, 228, 1);
}

.uploadVideo-content,
.uploadImage-content {
  position: relative;
}

.uploadVideo-content video {
  position: absolute;
  top: 34px;
  left: 39px;

  width: 420px;
  height: 180px;
}

.uploadVideo-content img {
  position: absolute;
  top: 34px;
  left: 39px;

  width: 420px;
  height: 180px;
}

.uploadImage-content img {
  position: absolute;
  top: 34px;
  left: 39px;

  width: 330px;
  height: 230px;
}

#date {
  background: url(../img/calendar.png) no-repeat 290px center;
}

/* 添加已上传文件删除按钮 */
.topDeleteFile,
.deleteFile {
  position: absolute;

  display: inline-block;

  width: 20px;
  height: 20px;

  border-radius: 100%;
  background: #c2c2c2 url('../img/deleteactive.png') no-repeat center center;
}

.topDeleteFile {
  top: 25px;
  left: 450px;
}

.uploadImage-content .deleteFile {
  top: 25px;
  left: 358px;
}

.formWrap form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* 添加遮罩层 */
.container-content-bottom {
  position: absolute;
  top: 200px;
  left: 0;

  width: 100%;

  text-align: center;

  color: rgba(50, 50, 50, .45);
  background: rgb(245, 245, 245);
}

/* 添加必选项 */
.star {
  display: inline-block;

  margin-top: 10px;

  color: red;
}

/* 重定样式 layui表单样式 */
.layui-form-item .layui-input-inline {
  width: 324px;
  margin-right: 15px;
}

.layui-form-item.layui-unselect.layui-form-select.tipLinkAge {
  width: 1100px;
}

.layui-form-select dl dd.layui-this {
  background: rgba(35, 107, 228, 1);
}

/* .layui-unselect.layui-form-select .layui-input-inline{
   width:324px;
   margin-right: 15px;
} */
.layui-input-block input {
  width: 324px;
  height: 42px;
}

.layui-select-title input {
  width: 324px;
  height: 42px;
}

.layui-laypage .layui-laypage-curr .layui-laypage-em {
  background: #4994ff;
}

.layui-textarea {
  width: 869px;
  height: 84px;
}

.layui-form-item.developer > label {
  width: 112px;
  margin-left: -32px;
}

/* 添加标签管理 */
.btn {
  width: 100px;
  height: 42px;

  color: white;
  border: 0;
  background: rgba(35, 107, 228, 1);
}

.newTag.bgGray {
  cursor: default;

  background: #c3bdbd;
}

.userEdit.bgGray,
.userUpdatePassword.bgGray,
.userDelete.bgGray {
  /* background: #c3bdbd; */
  cursor: not-allowed;

  color: #666;
}

.newTag {
  cursor: pointer;
}

.contentWrap-item {
  height: 100%;
}

.tag-management-top input,
.user-management-top input {
  width: 230px;
  height: 40px;

  text-indent: 15px;

  border: 1px solid rgba(3, 7, 17, .08);
  background: url(../img/search.png) no-repeat 200px center;
}

.tag-management-top,
.user-management-top {
  position: relative;

  display: flex;
  justify-content: space-between;

  padding: 17px 50px;

  background: white;
}

.tag-management-Wrap,
user-management-wrap {
  position: relative;

  overflow: auto;

  height: 100%;
}

.tagCata {
  line-height: 42px;

  position: absolute;
  position: absolute;
  z-index: 100;
  top: 17px;
  left: 298px;

  cursor: pointer;
  text-indent: 10px;

  border: 1px solid rgba(3, 7, 17, .08);
  background: white;
}

/* .placeholderELe:active::after{
   transform:rotateZ(180deg);
   cursor: pointer;
 
} */
.tagCata li {
  display: none;

  width: 172px;
  height: 40px;
}

.tagCata li:nth-child(2) {
  border-top: 1px solid rgba(3, 7, 17, .08);
}

.tagCata li:not(.placeholderELe):not(.activeTag):hover,
.limit li:not(.limitPlaceHolder):not(.activeTag):hover {
  background: #f2f2f2;
}

/* .tagCata li:not(.activeTag):hover{
    background: #f2f2f2;
} */
.tagCata .placeholderELe {
  position: relative;

  display: block;
}

.tagCata .placeholderELe::after {
  position: absolute;
  top: 14px;
  left: 150px;

  width: 14px;
  height: 14px;

  content: '';

  background: white url(../img/down.png) no-repeat center center;
  /* transition: transform 0.5s; */
}

.tagCata .activeTag,
.limit .activeTag {
  color: white;
  background: rgba(35, 107, 228, 1);
}

.tagNav {
  margin-left: 55px;

  color: black;
}

.colorBlue {
  color: #4994ff;
}

/* /* 表格开始 */
.tag-management-table,
.user-management-table {
  overflow: auto;

  height:         calc(100% - 96px);
  height: -webkit-calc(100% - 96px);
  margin: 20px 50px 0 50px;

  background: white;
}

.tag-management-table table,
.user-management-table table {
  width: 100%;
}

.tag-management-table th,
.tag-management-table td,
.user-management-table th,
.user-management-table td {
  text-align: left;
  text-indent: 40px;
}

.tag-management-table table thead,
.user-management-table table thead {
  border: 1px solid #e2e2e2;
  background: #e6e6e6;
}

.tag-management-table table th,
.user-management-table table th {
  padding: 14px;
}

.tag-management-table table tbody tr,
.user-management-table table tbody tr {
  border-bottom: 1px solid #e2e2e2;
}

.tag-management-table table td,
.user-management-table table td {
  padding: 20px 12px;

  border-bottom: 1px solid #e2e2e2;
}

.tagEdit,
.tagDelete,
.userEdit,
.userUpdatePassword,
.userDelete {
  margin-right: 15px;

  cursor: pointer;

  color: #4994ff;
}

.tagName {
  cursor: pointer;

  color: #4994ff;
}

.tag-management-bottom,
.user-management-bottom {
  position: absolute;
  top: 156px;
  left: 50%;

  margin-top: 50px;

  transform: translateX(-50%);
  text-align: center;
  text-align: center;

  color: #999;
}

.inputTagWrap {
  padding: 40px 0;
}

.inputTag {
  width: 250px;
  height: 40px;

  text-indent: 20px;
}

.tagBack {
  cursor: pointer;
}

#paper {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

/* 左标签添加小手 */
.container-aside-nav-item {
  cursor: pointer;
}

/* 添加用户管理 */
.userManage-nav {
  position: relative;
  /* height: 60px; */
}

/* .userManage-nav::after{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -13px;
    left: 127px;
    border-width: 5px;
    border-style: solid;
    border-color: #958686 transparent transparent transparent;

} */
/* 添加账号弹出层 */
#userPop {
  position: relative;

  box-sizing: border-box;
  width: 600px;
  height: 320px;
  padding: 20px 30px;
}

#userPop input {
  width: 230px;
  height: 40px;

  text-indent: 15px;

  border: 1px solid rgba(3, 7, 17, .08);
}

#userPop .error-tip {
  display: none;

  color: red;
}

#userPop .passShow {
  display: block;
}

#userPop .passHide {
  display: none;
}

#userPop form > div {
  margin-bottom: 20px;
}

#userPop.manager-form form .formItem {
  width: 100%;
  margin-bottom: 20px;
}

#userPop.manager-form .formItem::after {
  display: block;
  clear: both;

  content: ' ';
}

#userPop.manager-form .formItem label {
  line-height: 42px;

  display: block;
  float: left;

  width: 120px;
  height: 42px;

  text-align: right;
}

#userPop.manager-form .formItem.error {
  font-size: 16px;

  color: red;
}

#userPop.manager-form input {
  font-size: 12px;

  width: 350px;
  height: 40px;

  text-indent: 15px;

  border: 1px solid rgba(3, 7, 17, .08);
}

#userPop.manager-form .formItem.error span {
  display: inline-block;

  width: 320px;
}

#userPop .limit {
  line-height: 42px;

  position: absolute;
  z-index: 100;
  top: -3px;
  left: 51px;

  display: inline-block;

  cursor: pointer;
  text-indent: 10px;

  border: 1px solid rgba(3, 7, 17, .08);
  background: white;
}

#userPop .limit li {
  display: none;

  width: 230px;
  height: 40px;
}

#userPop .limit li:nth-child(2) {
  border-top: 1px solid rgba(3, 7, 17, .08);
}

#userPop .limit .limitPlaceHolder {
  display: block;
}

#userPop .limit .limitPlaceHolder::after {
  position: absolute;
  top: 14px;
  left: 205px;

  width: 14px;
  height: 14px;

  content: '';

  background: white url(../img/down.png) no-repeat center center;
}

#userPop form > div:nth-last-child(2) {
  /* overflow: hidden; */
  position: relative;

  height: 40px;
}

#uploadUserImg {
  position: absolute;
  /* float: right; */
  top: 18px;
  left: 358px;
}

.upload-userImg-box {
  position: relative;
}

.upload-userImg-box img {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

#userPop label {
  margin-right: 20px;
}

.colorRed {
  position: absolute;
  bottom: -23px;
  left: 0;

  width: 100%;

  text-align: center;

  color: red;
}

#uploadUserImg .imgShow {
  display: block;
}

#uploadUserImg .imgHide {
  display: none;
}

.imgBox {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.imgBox img {
  width: 100%;
  height: 100%;
}

.imgBox .deleteFile {
  position: absolute;
  top: -9px;
  right: -8px;
}

.userManage-menu li {
  padding: 15px 36px 0 36px;
}

.userManage-menu li.activeMenu {
  color: #1e9fff;
}

.formItem .bgGray {
  background: #c3bdbd;
  /* cursor: default; */
}

/* 多媒体适配 */

@media (max-width: 1366px) {
  .container-content-wrap {
    padding: 30px 0 0 30px;
  }

  .container-content-item {
    margin-right: 15px;
  }
}

.user-management-Wrap {
  overflow: auto;

  height: 100%;
}
